<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="1dd7b042-4760-4aed-aa5b-2ff37aee8b29" Publisher="CN=user" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CrystalClearUniversal.Windows</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CrystalClearUniversal.Windows.App">
      <m2:VisualElements DisplayName="CrystalClear" Square150x150Logo="Assets\SpashScreenNew.png" Square30x30Logo="Assets\SmallLogo.png" Description="CrystalClearUniversal.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Crystal Clear">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\waterSplash620x300.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>